<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu tworzymy plyty i widzimy listę</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>

<h2>Płytoteka:</h2>

<table>
    <thead>
    <th>Wykonawca</th>
    <th>Album</th>
    <th>Czy posiadam?</th>
    </thead>
{% for plyty in plytoteka %}
    <tr>
        <td><a href="/plytoteka/{{ loop.index }}">{{ plyty.wykonawca }}</a></td>
        <td>{{ plyty.album }}</td>
        <td>{{ plyty.czy_posiadam }}</td>
        <td><a href="/plytoteka/delete/{{ loop.index }}">Usuń płytę</a></td>
    </tr>
{% endfor %}
</table>
<div>
    <h2> Dodaj nowy album: </h2>
    <form method="POST" action="/plytoteka/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
</body>
</html>